@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 60%;
    box-sizing: border-box;
}

body {
    font-size: 1.9rem;
    font-family: 'Open Sans', sans-serif;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .logo {
        color: #878585;
        margin: 0 0 30px;

        .icon {
            color: #7A7A7A;
        }
    }

    
    .register {
        position: relative;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 4% 4% 40px;
        width: 90%;

        &::before {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, rgba(51, 181, 229, 0.773481) -9.27%, #33B5E5 66.98%, rgba(51, 181, 229, 0) 104.72%);
        }

        .register__header {
            color: #33B5E5;
            font-weight: normal;
            font-size: 2.3rem;
            margin-bottom: 20px;
        }

        .register__input {
            margin-bottom: 20px;
            border: 1px solid #979797;
            padding: 3% 3.5%;
        }

        .register__button {
            display: block;
            text-decoration: none;
            text-align: center;
            background: linear-gradient(90deg, rgba(40, 175, 225, 0.773481) -18.15%, rgba(49, 180, 228, 0.952312) -18.15%, #33B5E5 26.29%, rgba(1, 156, 213, 0) 132.05%);
            color: #ffffff;
            padding: 3.5%;
            margin-bottom: 30px;
            width: 100%;
            border: none;
        }

        .register__login {
            text-decoration: none;
            color: #484848;
            text-align: center;
            background: #F2F2F2;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.6rem;
            width: 100%;
            padding: 2%;
        }
    }
}

@media (min-width: 590px) {
    body .register {
        width: 30%;
    }
}

.error{
    border: 1px solid rgba(255, 0, 0, 0.589) !important;
    &::placeholder{
        color: rgba(255, 0, 0, 0.664);
    }
}
